.preview {
    margin-top: 2vh;
}

.preview img, .preview video, .preview object, .preview audio {
    width: 100%;
    max-height: 100vh;
}

.preview .file-stats {
    line-height: 32px;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

.preview .file-stats svg {
    vertical-align: middle;
    margin-right: 10px;
}

.preview .virus-warning {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid red;
    margin-bottom: 5px;
}

.preview .encrypted {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #bbbbbb;
    text-align: center;
}

.error {
    color: red;
}