.admin {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.admin h2 {
    background-color: #222;
    padding: 10px;
}

.admin .btn {
    padding: 5px 8px;
    border-radius: 3px;
    font-size: small;
    margin: 2px;
}
