.drop {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px dashed;
    margin: 5vh 2px 2px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    height: 200px;
    font-size: x-large;
}

.drop small {
    display: block;
    font-size: x-small;
}

@media (max-width: 720px) {
    .drop {
        width: 100%;
    }
}