.preview {
    text-align: center;
    margin-top: 2vh;
    width: 720px;
    margin-left: auto;
    margin-right: auto;
}

    .preview > a {
        margin-bottom: 1vh;
    }

    .preview img {
        width: 100%;
    }

    .preview video {
        width: 100%;
    }
