.preview {
    margin-top: 2vh;
}

.preview img, .preview video, .preview object {
    width: 100%;
}

.preview .file-stats {
    line-height: 32px;
    display: grid;
    grid-auto-flow: column;
    text-align: center;
}

.preview .file-stats svg {
    vertical-align: middle;
    margin-right: 10px;
}