.uploader-info {
    margin-top: 10px;
    text-align: start;
}

.uploader-info .small-profile {
    display: inline-flex;
    align-items: center;
}

.uploader-info .small-profile .avatar {
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.uploader-info .small-profile .name {
    padding-left: 15px;
}