.stats {
    display: grid;
    grid-auto-flow: column;
    margin: 0 30px;
    line-height: 32px;
}

.stats svg {
    vertical-align: middle;
    margin-right: 10px;
}

.stats > div {
}

@media (max-width: 720px) {
    .stats {
        margin: 0 10px;
        font-size: 14px;
    }
    .stats svg {
        height: 16px;
        width: 16px;
    }
}