@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Source Code Pro', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    line-height: 1.1;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px 20px;
    user-select: none;
    cursor: pointer;
    margin: 5px;
}

.btn.disabled {
    background-color: #666;
}

.flex {
    display: flex;
}

.flex-inline { 
    display: inline-flex;
}

.flx-1 {
    flex: 1;
}

.flx-2 {
    flex: 2;
}

.flx-grow {
    flex-grow: 1;
}

.flex-center {
    align-items: center;
}

input[type="text"], input[type="number"], input[type="password"], select {
    display: inline-block;
    line-height: 1.1;
    border-radius: 10px;
    padding: 10px 20px;
    margin: 5px;
    border: 0;
}

table {
    width: 100%;
    word-break: keep-all;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-collapse: collapse;
}

table tr:nth-child(2n) {
    background-color: #111;
}

table th {
    background-color: #222;
    text-align: start;
}

pre.copy {
    user-select: all;
    width: fit-content;
    border-radius: 4px;
    border: 1px solid;
    padding: 5px;
}