@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
    display: inline-block;
    line-height: 1.3;
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: white;
    color: black;
    padding: 10px 30px;
    user-select: none;
    cursor: pointer;
}