$page-width: 1024px;
$page-height: 512px;
$page-padding: 10px;
$page-margin-top: 20px;
$dropzone-border-width: 2px;
$dropzone-height: ($page-height - ($dropzone-border-width * 2)) / 2;

$upload-progress-padding: 2px;
$upload-progress-height: 20px;
$upload-padding: 10px;
$upload-border: 2px solid rgb(168, 168, 168);

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
    background-color: rgb(14, 14, 14);
}

.page {
    width: $page-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: $page-margin-top;
    overflow: hidden;
    padding: $page-padding;
    border-radius: 10px;
    background-color: rgb(233, 252, 255);
    box-shadow: 0px 0px 15px 5px #000;
    user-select: none;
}

.page-left { 
    width: 50%; 
    float:left;
}
.page-right { 
    width: 50%; 
    float:left;
}

#dropzone {
    border: $dropzone-border-width dashed #333;
    line-height: $dropzone-height;
    text-align: center;
    font-size: 50px;
}

.upload {
    overflow: hidden;
    border: $upload-border;
    margin: $upload-padding;
    margin-top: 0;
}

.upload .upload-progress {
    border: 0.5px solid;
    overflow: hidden;
    text-align: center;
    margin: 10px;
}

.upload .status {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 10px;
}

.upload .status div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.upload .file-info {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    background-color: rgb(96, 136, 146);
    color: #eee;
}

.upload .file-info div {
    padding: 10px;
}

.upload .file-info .file-info-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.upload .file-info .file-info-size {
    background-color: rgb(0, 113, 133);
    text-align: center;
}

.upload .file-info .file-info-speed {
    background-color: rgb(0, 84, 99);
    text-align: center;
}

.upload .upload-progress div {
    margin-top: -$upload-progress-height;
    height: $upload-progress-height;
    line-height: $upload-progress-height;
    font-size: $upload-progress-height * 0.8;
    background-color: rgb(10, 161, 10);
}

.links {
    display: grid;
}

.links a {
    margin: 10px;
    line-height: 40px;
    border: 1px solid;
    color: white;
    text-align: center;
    background-color: #569a59;
}