$page-width: 1024px;
$page-height: 512px;
$page-padding: 10px;
$page-margin-top: 20px;
$dropzone-border-width: 2px;
$dropzone-height: ($page-height - ($dropzone-border-width * 2)) / 2;

$upload-progress-padding: 2px;
$upload-progress-height: 20px;
$upload-padding: 10px;
$upload-border: 2px solid rgb(168, 168, 168);

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    font-size: 12px;
    background-color: rgb(14, 14, 14);
}

@media (max-device-width: $page-width){
    .page {
        width: auto !important;
    }
}

.page {
    width: $page-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: $page-margin-top;
    overflow: hidden;
    padding: $page-padding;
    border-radius: 10px;
    background-color: rgb(233, 252, 255);
    box-shadow: 0px 0px 15px 5px #000;
    user-select: none;
}

#page-view {
    display:none;
}

.page-left { 
    width: 50%; 
    float:left;
}
.page-right { 
    width: 50%; 
    float:left;
}

#dropzone {
    border: $dropzone-border-width dashed #333;
    line-height: $dropzone-height;
    text-align: center;
    font-size: 50px;
}

#page-upload {
    display: none;
}

.upload {
    overflow: hidden;
    border: $upload-border;
    margin: $upload-padding;
    margin-top: 0;
}

.upload .upload-progress {
    border: 0.5px solid;
    overflow: hidden;
    text-align: center;
    margin: 10px;
}

.upload .status {
    display: grid;
    grid-template-columns: 40% 60%;
    margin: 10px;
}

.upload .status div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.upload .file-info {
    display: grid;
    grid-template-columns: 60% 20% 20%;
    background-color: rgb(96, 136, 146);
    color: #eee;
}

.upload .file-info div {
    padding: 10px;
}

.upload .file-info .file-info-name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.upload .file-info .file-info-size {
    background-color: rgb(0, 113, 133);
    text-align: center;
}

.upload .file-info .file-info-speed {
    background-color: rgb(0, 84, 99);
    text-align: center;
}

.upload .upload-progress div {
    margin-top: -$upload-progress-height;
    height: $upload-progress-height;
    line-height: $upload-progress-height;
    font-size: $upload-progress-height * 0.8;
    background-color: rgb(10, 161, 10);
}

.upload .links {
    display: grid;
}

.upload .links a {
    margin: 10px;
    line-height: 40px;
    border: 1px solid;
    color: white;
    text-align: center;
    background-color: #569a59;
}

.upload .errors {
    margin: 10px;
    line-height: 40px;
    border: 1px solid;
    color: white;
    text-align: center;
    background-color: #790e00;
}

#page-view .file-info {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.btn-download {
    line-height: 40px;
    margin: 10px;
    border: 1px solid rgb(70, 70, 70);
    color: white;
    text-align: center;
    background-color: #569a59;
    font-size: 20px;
    font-weight: bold;
}

.btn-download:hover {
    cursor: pointer;
}

.view-default {
    padding: 30px 10px;
    background-color: rgb(180, 180, 180);
    display: grid;
    grid-template-columns: 60% 40%;
}

.view-default span {
    float: right;
}

.view-default div:nth-child(4) {
    grid-row-start: 5;
}
.view-default div:nth-child(5) {
    background-color: #333;
    color: rgb(214, 214, 214);
}

.view-default .btn-download {
    line-height: 100px;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.view-default .view-download-progress div:nth-child(1) {
    text-align: center;
    height: 100%;
    line-height: 20px;
}

.view-default .view-download-progress div:nth-child(2) {
    background-color: rgb(0, 146, 0);
    height: 100%;
    width: 0px;
    margin-top: -20px;
}