@using VoidCat.Model
@using VoidCat.Services.Users
@model VoidCat.Model.EmailVerificationCode

<!DOCTYPE html>
<html lang="en">
<head>
    <title>void.cat - Email Verification Code</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Source Code Pro', monospace;
        }
        .page {
            width:  720px;
            margin-left: auto;
            margin-right: auto;
        }
        pre {
            padding:  10px;
            font-size: 24px;
            background-color: #eee;
            width: fit-content;
            color:  black;
            user-select: all;
        }
    </style>
</head>
<body>
    <div class="page">
        <h1>void.cat</h1>
        <p>Your verification code is below please copy this to complete verification</p>
        <pre>@(Model?.Code.ToBase58() ?? "?????????????")</pre>
        <p>This code will expire in @BaseEmailVerification.HoursExpire hours</p>
    </div>
</body>
</html>