<?php

	if(!isset($_COOKIE["VC:UID"])) {
		setcookie("VC:UID", uniqid());
	}
	
	define('_UIP', isset($_SERVER['HTTP_CF_CONNECTING_IP']) ? $_SERVER['HTTP_CF_CONNECTING_IP'] : $_SERVER['REMOTE_ADDR']);
	
	/* LB SETTINGS */
	define('_IS_LB_HOST', False);
	define('_LB_HOSTS', array("http://host1.void.cat", "http://host2.void.cat"));
	define('_LB_HOSTNAME', 'download.void.cat');
	
	/* DB SETTINGS */
	define('_DB_HOST', '127.0.0.1');
	define('_DB_DATABASE', 'void');
	define('_DB_USER', 'root');
	define('_DB_PASS', 'mysql');
	
	/* REDIS CONFIG */
	define('_REDIS_SERVER', '127.0.0.1');
	
	/* GENERAL SETTINGS */
	define('_PUB_HASH', 'ripemd160');
	define('_DEFAULT_TYPE', 'application/octet-stream');
	define('_SITEURL', (isset($_SERVER['HTTPS']) ? 'https' : 'http') . '://' . $_SERVER['HTTP_HOST'] . '/');
	define('_UPLOADDIR', '/files/');
	define('_FILEPATH', '/var/www/void.cat' . _UPLOADDIR);
	define('_DISCORD_WEBHOOK', 'DISCORD_HOOK_URL');
	define('_DISCORD_WEBHOOK_PUB', 'DISCORD_HOOK_URL');
	define('_FILE_EXPIRE_TIME', 30);
	define('_GA_SITE_CODE', 'UA-73200448-1');
	define('_BLOCK_REFERER', array("yobuilder.com", "adf.ly", "payshorturl.com", "clearload.bid"));
	define('_UA_NO_VIEW', array("YandexBot/3.0", "Googlebot/2.1", "Yahoo! Slurp"));
	define('_VIRUSTOTAL_KEY', 'API_KEY');
	define('_CURL_USER_AGENT', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.181 Safari/537.36');
	define('_ETHERSCAN_API_KEY', 'API_KEY');
	
	/* CLOUDFLARE SETTINGS */
	define('_CLOUDFLARE_API_EMAIL', 'me@me.com');
	define('_CLOUDFLARE_API_KEY', 'API_KEY');
	define('_CLOUDFLARE_ZONE', 'ZONE_ID');
	
	/* CAPTCHA SETTINGS */
	define('_DL_CAPTCHA', 10);
	define('_CAPTCHA_DL_EXPIRE', 86400);
	define('_CAPTCHA_KEY', 'CAP_KEY');
	define('_CAPTCHA_SECRET', 'CAP_SECRET');
	
	/* LN RPC-FILE */
	define('_LN_RPC_FILE', 'tcp://127.0.0.1:9737');
	define("MSAT", 0.00000000001);
	define("SAT", 0.00000001);
	
	/* TIP ADDRS */
	define('_TIP_ADDRS', array(
		"BTC" => "3AL9jqxVTjAZJMseBBnC75F3S6r4HSphUt",
		"BCH" => "1qbcr7Bnt53sq9qEbPPrzu4jAvEeF6oUm",
		"BTG" => "AbtKHMqpwUqJJVYj7f1roR6FCecViPt1zK",
		"DASH" => "XfFNizQfuqwRtdx4WqpcK3L8tZEvG4WaJk",
		"LTC" => "MGBNvUefXrFvdiZRNrQTG6UX8za2Phr5Eu",
		"ZEC" => "t1VSkrikVyjoCKrC7DXnVPxPZCWRQihneTz",
		"ETH" => "0x367e6864d84b38c58312a340afbd55417d1c9Ce2",
		"TRX" => "0x367e6864d84b38c58312a340afbd55417d1c9Ce2",
		"ETC" => "0x5653306b771d0ECD9f1010114a378a50301f68c3",
		"XEM" => "NDWAWGJ5E5FCQTGKMTAQPS5TACICPB5NA4ZVT232"
	));
?>